body {
  /*background-color: #f4c242;*/
  background-color: orange;
}

img {
  width: 15%;
}

.red_font {
  color: #bc001f;
}

.tiny_text {
  font-size: 11px;
  /*color: #5da82f;*/
  color: #087c00;
}

.burgerEaterTextBox {
  padding: 2px;
  height: 100%;
}